@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: #142434 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  color: #ffffff;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #142434;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #15202B;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.wrapper{
  background-color: red;
  color: white;
}

section {
  margin: 0 120px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

header div {
  margin-left: auto;
  font-size: 20px;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
}

.landing{
  margin: auto;
  padding-top: 180px;
  text-align:inline;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}

.get-started{
  padding-top: 25px;
  font-family: 'Fira Sans', sans-serif;
}

.email-get-started{
  border:2px solid #4CE2A7;
  width: 450px;
  height: 60.30px;  
  border-radius: 30px;
  background-color: #1B2136;
  color: #273E64;
  font-size: 20px;
  padding-left: 15px;
  display: inline-block;
}

.btn-get-started{
  background-image: linear-gradient(to right, #43DEC2 0%, #23D1E2 51%, #0BC7FB 100%);
  border: none;
  color: #022047;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  margin-left: -150px;
}